[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mythfish
Exec=harbour-mythfish
Name=MythFish
Name[de]=MythFish
Categories=AudioVideo;Network;
